# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dashnex modules
@dashnex/
packages/

# dependencies
/node_modules
/.pnp
.pnpm-store/
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/
/dist/

# production
/build

# misc
.DS_Store
*.pem
/.dist/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
.dev.vars

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

node-compile-cache

# Generated module registry
src/dashnex/
.wrangler
pnpm-workspace.yaml
worker-configuration.d.ts

.dashnex
.env.local
.env.development
certificates

public/contacts
public/offers
public/system
